:root {
    --text-color: #000;
    --slider-backgroud-color: #2F303A;
    --body-bg-color: #FFF;
    --logo-color: #2196F3;
    --slider-text-color: #fff;
    --header-color: #fff;
    --footer-bg-color: #2F303A;
    --logo-footer-color: #fff;
    --nav-text-color: #212121;
    --slider-button-color:#2196F3;
    --slider-button-text-color:#fff;
    --links-color-hover: #2196F3;
    --header-contacts-color:#757575;
    --button-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --our-team-text-color: #757575;
    --article-text-color: #757575;
    --portfolio-bg-color: #fff;
    --portfolio-article-heading-color: #212121;
    --portfolio-article-text-color: #757575;
    --our-team-color:#F5F4FA;
    --header-border-color:#ECECEC;
}


body{
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: Roboto, Relaway, sans-serif;
    
}


.slider{
    background-color: var(--slider-backgroud-color);
    text-align: center;
    width: 1600px;
    height: 600px;
    justify-content: center;
}

.slider>[type="button"]{
    background-color: var(--slider-button-color);
    color:var(--slider-button-text-color);
    width: 200px;
    height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        cursor: pointer;
        border: none;
}
[type="button"]:hover, [type="button"]:focus{
    background-color: var(--links-color-hover);
    color: var(--logo-footer-color);
}
.links{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.poems{
    list-style: none;
    text-decoration: none;
    display: inline-block;    
}
.text{
    margin-top: -60px;
}
.text-list{
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    width: 260px;
    height: 75px;
    text-align: left;
}
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}
.logo-color{
    color: var(--logo-color);
}
.slider-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--slider-text-color);
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 250px;
    width: 700px;
}

.head-header{
    text-align: left;
    width: 1600px;
    height: 80px;
    background-color:var(--header-color) ;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--header-border-color);

}
.nav-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--nav-text-color);
}
.menu{
    padding-right: 20px;
}
.nav-text .links:hover, .nav-text .links:focus {
    color: var(--links-color-hover);
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--header-contacts-color);
    text-decoration: none;
    display: inline;
}

.header-contacts:hover, .header-contacts:focus, .footer-contacts:hover, .footer-contacts:focus{
    color: var(--links-color-hover);
}
.footer-set{
    width: 1600px;
    height: 252px;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--footer-bg-color) ;
    color: var(--logo-footer-color);
    padding-left: 100px;
    padding-top: 20px;
    
}

.footer-contacts{
 list-style: none;
 text-decoration: none;
 color: var(--footer-contacts-color);

}

.heading-text{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
 margin-top: -20px;
 letter-spacing: 0.03em;
}
.our-team-heading{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.84;
}
.our-team-text{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.84;
    color: var(--our-team-text-color);
}
.article-heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
}
.article-text{
    font-size: 14px;
    line-height: 1.71;
    color: var(--article-text-color);
    text-align: left;
}

[type="button"]{
    text-align: center;
    background-color: var(--button-color);
    width: 93px;
    height: 38px;
    font-weight:500;
    font-size:16px;
    line-height:1.62;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.portfolio-bg-color{
    background-color:var(--portfolio-bg-color);
}

.portfolio-article-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:var(--portfolio-article-heading-color) ;
}

.portfolio-article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--portfolio-article-text-color); 
}
.our-team-color{
    background-color: var(--our-team-color);
}

.container{
width: 1200px;
}
.section{
    padding: 94px 0;
}
.contacts{
    
    margin-right: -100px;
    
}

.our-team{
    display: flex;
    align-content: center;
    margin-left: -60px;
    margin-bottom: -50px;
}

.our-team-margin{
    margin-right: -60px;
}

.our-job-margin {
    margin-right: 12px;
}

.portfolio-button{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: -200px;
}

.portfolio-images{
    margin-left: -60px;
    margin-right: -190px;
    margin-bottom: -50px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-set{
    margin-right: -60px;
}